.LogInBox{
    margin: auto;
    background-color: #333;
    height: auto;
    width: 80%;
    text-align: center;
    padding: 10px;
    padding-bottom:100px;
  }
.RegBox{
    margin: auto;
    background-color: #333;
    height: 460px;
    width: 80%;
    text-align: center;
    padding: 10px;
    padding-bottom:10px;
  }
input[type=text]{
    color:black;
    background-color:white;
    border:0.5px solid #464646;
    border-radius: 5px;
} 
input[type=password]{
    color:black;
    background-color:white;
    border:0.5px solid #464646;
    border-radius: 5px;
} 
input[type=submit]{
    width:100%;
    border:0.5px solid #464646;
    background: black;
    height:40px;
    margin-top:40px;
    font-weight: bold;
    color:white;
    transition:100ms;  
}
input[type=submit]:hover{
    background: #464646;
    cursor: pointer;
}
.RegLink{
    width:100px;
    text-decoration: none;
    text-align: center;
    float:left;
    padding-top:10px;
    border:0.5px solid #464646;
    background: black;
    height:30px;
    margin-top:10px;
    font-weight: bold;
    color:white;
    transition:100ms;
}
.RegLink:hover{
    background: #464646;
}
.Back{
    width:80px;
    text-decoration: none;
    text-align: center;
    float:left;
    padding-top:10px;
    border:0.5px solid #464646;
    background: #333333;
    height:30px;
    margin-top:20px;
    font-weight: bold;
    color:white;
    transition:100ms;
    border-radius: 5px;
}
.Back:hover{
    background: #464646;
    cursor: pointer;
}
h3{
    color:white;
    float:left;
}
