.ShopMenu{
    width:200px;
    height:360px;
    margin-left:20px;
    position: relative;
    top:30px;
    border: 0.5px solid #464646;
    border-radius: 5px;
    color:white;
    font-size:20px;
    text-align: left;
    padding-left:10px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}
.SearchBar{
    width:60%;
    height:50px;
    border-radius:5px;
    float:left;
    position: relative;
    top:-330px;
    margin-left:280px;
    border: 0.5px solid #464646;
}

input[type=submit]:hover{
    cursor: pointer;
    background-color:rgb(73, 73, 73);
}
.category{
    width:100%;
    height:30px;
    border-bottom: 0.5px solid #464646;
    margin-top:10px;
    padding-left:10px;
    padding-top:3px;
}
.FilterOption{
    width:100%;
    height: contain;
    border-bottom: 0.5px solid #464646;
    margin-top:10px;
    padding-left:10px;
    padding-top:3px;
}
.FilterInput{
    height:10px;
}
.PriceInput{
    height:20px;
    width:30px;
    display: inline-block;
}
.category:hover{
    cursor: pointer;
    background:silver;
    color:green;
    border-radius:5px;
}
.Apply{
    font-weight: normal;
    font-size: 17px;
    text-align:center;
    height:contain;
    width:110px;;
    padding:1px;
    border: 0.5px solid #464646;
    border-radius: 5px;
    margin-top:10px;
    float:right;
    transition:100ms;
}

.ShopContent{
    width:65%;;
    height:auto;
    margin:auto;
    margin-left:270px;
    margin-right:220px;
    margin-top:70px;
    display: inline-block;
    text-align:left;
    position: relative;
    top:-400px;
}
@media only screen and (max-width: 827px) {
    [class*="main2"]{
        height: 2000px;
    }
  }
  @media only screen and (max-width: 764px) {
    [class*="SearchBar"]{
      width:50%;
    }
  }
  @media only screen and (max-width: 650px) {
    [class*="SearchBar"]{
      width:40%;
    }
    [class*="SearchBtn"]{
        font-size:11px;
      }
  }
  @media only screen and (max-width: 650px) {
    [class*="ShopContent"]{
      top:10px;
      margin-left:10px;
    }
    [class*="SearchBar"]{
        top:30px;
        margin-left:20px;
        width:230px;
    }
    [class*="SearchBtn"]{
          font-size:11px;
    }
    [class*="main2"]{
        width:70%;
        text-align: center;
    }
  }
  