#parentwrap { vertical-align:top; };
#header {
  width: 100%;
  margin: auto;
  background: grey;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: silver;
  color: green;
  cursor: pointer;
}

.recbox {
  height: 450px;
  width: 100%;
  position: fixed;
  margin-top:100px;
  top: 74px;
  left: 0;
  pointer-events: none;
}

.recleft {
  height: inherit;
  width: 100px;;
  background: pink;
  display: inline-block;

}

.recright {
  height: inherit;
  width: 100px;;
  background: pink;
  float:right;

}
.ad{
  max-width: 100%;
  height: inherit;
}
.ad2{
  width: 100%;
  max-height: 100%;
}

.rectop{
  height: 100px;
  width:450px;
  margin: auto;
  margin-bottom:20px;
  display: none;
  display: none;
}

.main {
  margin: auto;
  background-color: #333;
  height: auto;
  min-height: 425px;
  width: 80%;
  text-align: center;
  padding: 10px;

}
.main2 {

  margin: auto;
  background-color: #333;
  height: auto;
  width: 80%;
  text-align: center;
  padding: 0;
  padding-bottom:100px;
}

.box {
  background-color: #252526;
  width: 245px;
  height: 275px;
  display: inline-block;
  margin-right:5px;
  margin-left:5px;
  margin-top: 10px;
  border: 0.5px solid #464646;
  border-radius: 10px;
  color: white;
  text-align: left;
}
.postbox{
  background-color: #252526;
  width: 71%;
  height: 125px;
  margin-right:20px;
  margin-left:10px;
  margin-top: 10px;
  border: 0.5px solid #464646;
  border-radius: 10px;
  color: white;
  text-align: left;
}
.categorybox{
  background-color: #252526;
  width: 25%;
  height: contain;
  float:right;
  margin-right:10px;
  margin-left:5px;
  margin-top: 10px;
  border: 0.5px solid #464646;
  border-radius: 10px;
  color: white;
  text-align: left;
}
.categoryul{
  background: transparent;
  display: block;
  text-align: center;
}
.categoryli{
  display: block;
  width:100%;
  padding:0px;
}
.categorya{
  width:100%;
  height:30px;
  padding:0px;
  padding-top:10px;
  text-align: left;
  display: block;
  transition: 100ms;
}
.categoryspan{
  margin-left:40px;
}
.postimgbox{
  width:105px;
  height:105px;
  background: red;
  margin:10px;
  display: inline-block;
}
.posttextbox{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:70%;
  height:105px;
  background:  #252526;
  color: white;
  margin:10px;
  margin-bottom:0px;
  margin-left:0px;
  display: inline-block;
}
.postheading{
  display: inline-block;
  max-width: 100%;
  max-height:30px;
  font-size: 20px;
}
.postshorttext{ 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  height:20px;
  color: rgb(190, 190, 190);
}
.postmore{
  float:right;
  text-decoration:none;
  color:white;
  padding:5px;
  transition:100ms;
  border-radius:2px;
  margin-top:20px;
}
.postmore:hover{
  background-color: rgb(73, 73, 73);
}
.postpageimg{
  width:300px;
  height:300px;
  background: red;
  margin-top:50px;
  margin-left:10px;
}
.postpageheading{
  overflow: hidden;
  height:contain;
  text-align: left;
  width: auto;
  margin-left:315px;
  position: relative;
  top:-300px;
  color: white;
}
.postpagetext{
  overflow: hidden;
  height:auto;
  min-height:200px;
  text-align: left;
  width: auto;
  margin-left:315px;
  margin-bottom:75px;
  position: relative;
  top:-300px;
  color: rgb(177, 177, 177);
  font-size:19px;
}
.authorbox{
  float: right;
  color:rgb(175, 175, 175);
  position: relative;
  top:-20px;
}
.idk{
  position:relative;
  top:-300px;
}
.commentsbox{
  width:100%;
  height:auto;
}
.commentbody{
  background-color: #252526;
  width: inherit;
  min-height: 125px;
  height:auto;
  border: 0.5px solid #464646;
  border-radius: 10px;
  color: white;
  text-align: left;
  margin-bottom:10px;
}
.commentimg{
  background: red;
  width:105px;
  height:105px;
  float:left;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
}
.commenttext{
  overflow:hidden;
  width:auto;
  min-height:105px;
  height:auto;
  margin:10px;
  color: rgb(177, 177, 177);
}

.imageBox {
  width: 220px;
  height: 200px;
  margin: auto;
  margin-top:10px;
  border: 1px solid rgb(0, 129, 28);
}
.image {
  width: inherit;
  height:inherit;
}

.boxContent{
  margin-top:10px;
  margin-left:11px;
}

.price {
  text-align: left;
  color: rgb(2, 172, 2);

}
.addtocart{
  width: 40px;
  height:40px;
  border: 0.5px solid white;
  border-radius: 5px;
  float:right;
  margin-right:12px;
  margin-top: 0px;
}
.more{
  text-decoration: none;
  color:white;
  padding:10px;
  float: right;
  margin-right:11px;
  margin-top:10px;
  border: 0.5px solid #464646;
  border-radius: 5px;
  transition: 100ms;
}
.more:hover{
  cursor:pointer;
  background-color: rgb(73, 73, 73);
}

.option{
  color:white;
  text-decoration:none;
  display:none;
  padding:10px;
}
.option:hover{
  color:green;
  background-color:silver;
}

.MoreoptionsBox{
  margin:auto;
  height:138px;
  width:100px;
  background:#333333;
  float:right;
  display: block;
}

.Moreoptions{
  visibility: hidden;
}
.backBtn{
  text-decoration: none;
  color:white;
  padding:10px;
  margin-left:10px;
  margin-right:10px;
  border: 0.5px solid #464646;
  border-radius: 5px;
  position: relative;
  top: 20px;
  display: block;
}
.backBtn:hover{
  cursor:pointer;
  background-color: rgb(73, 73, 73);
}
.ProductPhoto{
  height:300px;
  width: 300px;
  margin-left:10px;
  margin-right:10px;
  margin-top: 40px;
  display: inline-block;
}
.ProductInfo{
  width:50%;
  height:300px;
  display: inline-block;
  margin-left:10px;
  text-align: left;
}
.ProductName{
  color:white;
  font-size:20px;
  font-weight:bold;
}
.ProductSpecs{
  color:white;
  font-size:20px;
  margin-top:5px;
}
.cartAddBtn{
  color:white;
  margin-top:10px;
  margin-right:10px;
  width:100px;
  height:20px;
  border:0.5px solid #464646;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  float: right;
  transition: 100ms;
  text-decoration:none;
}
.cartAddBtn:hover{
  cursor: pointer;
  background-color: rgb(73, 73, 73);
}
.slider-photo-hidden{
  display:none;
}
.slider-photo-visible{
  display: initial;
}
.circle{
  width:10px;
  height:10px;
  border:1px solid #464646;
  border-radius:50%;
  margin-left:1px;
  display: inline-block;
}
.circleSelected{
  width:12px;
  height: 12px;
  background:white;
  border:0.5px solid white;
}
.changePhoto{
  width:0px;
  height:0px;
  border-top:10px solid transparent;
  border-left:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid white;
  color:white;
  display: inline-block;
  text-align: center;
}
.changePhoto:hover{
  cursor:pointer;
}
.badge{
  background: white;
  width:auto;
  height:auto;
  margin-top:32px;
  float:left;
  border-radius:5px;
  color:black;
  text-align: center;
  justify-content: center;
  padding:10px;
}
.bx{
  margin-top:0px;
  width:150px;
  float: left;
  margin-left: 16px;
  position: relative;
  top:350px;
}
.UserImgBox{
  width:200px;
  height:200px;
  margin-right:10px;
  float:left;
}
.UserInfo{
  overflow: hidden;
  height:200px;
  width:auto;
  color:white;
  text-align:left;
}
.UserLink{
  text-decoration: none;
  color:white;
  padding:10px;
  margin-right:11px;
  margin-top:10px;
  margin-bottom:10px;
  border: 0.5px solid #464646;
  border-radius: 5px;
  transition: 100ms;
  display: inline-block;
}
.UserLink:hover{
  background-color: rgb(73, 73, 73);
}
.UserDisplay{
  margin-top:10px;
  width:auto;
  height:auto;
  min-height:300px;
  border:1px solid rgb(73, 73, 73);
  border-radius:5px;
  padding:5px;
}
.NewCommtxt{
  margin-top:20px;
  resize: none;
}
.NewCommBtn{
  text-decoration: none;
  color:white;
  padding:10px;
  margin-top:10px;
  border: 0.5px solid #464646;
  border-radius: 5px;
  background: transparent;
  transition: 100ms;
}
.cartbtn{
  border: 0.5px solid #464646;
  border-radius:5px;
  padding:7px;
  margin-left:5px;
  margin-top:10px;
}
.cartbtn1:hover{
  border: 0.5px solid rgb(179, 0, 0);
  color: rgb(207, 0, 0);
  background: transparent;
}
.NewCommBtn:hover{
  cursor: pointer;
  background: #464646;
}
.CheckOutDiv{
  width:100%;
  height:auto;
  margin-bottom:50px;
  color:white;
  text-align:right;
}
.CheckOutLink{
  float:right;
  width:150px;
  margin-right:15%;
}
.adminformbox{
  border:0.5px solid #464646;
  width:500px;
  height:250px;
  border-radius:5px;
  margin:auto;
  margin-top:50px;
  color:white;
  text-align:left;
  padding:10px;
}
.adminsubmit{
  color:white;
  background:black;
  width:100%;
  height:40px;
  border:0.5px solid #464646;
  transition:100ms;
}
.adminsubmit:hover{
  cursor: pointer;
  background: #464646;
}

/* Animations */
.visible,
.hidden {
  overflow: hidden;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
@media only screen and (max-width: 1125px) {
  [class*="bx"]{
    position: relative;
    top:0px;
  }
}


@media only screen and (max-width: 1061px) {
  [class*="recbox"]{
    display: none;
  }

  [class*="rectop"]{
    display: block;
  }
  [class*="main2"]{
    width: 100%;
  }

}
@media only screen and (max-width: 1125px) {
  [class*="bx"]{
    position: relative;
    top:0px;
  }
}

@media only screen and (max-width: 680px) {
  [class*="rectop"]{
    width:200px;
  }

  [class*="ad2"]{
    height: 450px;
  }

  [class*="main"]{
    width:100%;
  }

  [class*="rectop"]{
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 700px) {
  [class*="ProductInfo"]{
    width:90%;
    margin-right:20px;
    margin-top:40px;
  }
  [class*="bx"]{
    position: relative;
    top:-330px;
  }
}
@media only screen and (max-width: 430px) {
  [class*="bx"]{
    position: relative;
    top:-350px;
  }
}

@media only screen and (max-width: 490px) {
  [class*="GEO"]{
    display: none;
  }
  [class*="Login"]{
    display: none;
  }
  [class*="Cart"]{
    display: none;
  }
  [class*="rectop"]{
    margin-right:150px;
    margin-bottom: 30px;
  }
  [class*="Moreoptions"]{
    visibility: visible;
  }

}

@media only screen and (max-width: 845px) {
  [class*="main2"]{
    height: 850px;
  }

  [class*="rectop"]{
    display: block;
  }

}
@media only screen and (max-width: 850px) {
  [class*="posttextbox"]{
    width:200px;
  }

}
@media only screen and (max-width: 595px) {
  [class*="categoryspan"]{
    margin-left:20px;
  }

}
@media only screen and (max-width: 520px) {
  [class*="categoryspan"]{
    margin-left:3px;
  }
  [class*="posttextbox"]{
    width:100px;
  }
  [class*="postbox"]{
    width:300px;
  }
}
@media only screen and (max-width: 470) {
  [class*="categorybox"]{
    display: none;
  }
  [class*="posttextbox"]{
    width:100px;
  }
  [class*="postbox"]{
    width:300px;
  }
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.Login1 {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.register {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}




.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.container1 {

  padding: 16px;
  background-color: white;

}
.hrr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 0.8;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close{
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
.NameAndLozung{
  width:100%;
  height:contain;

  margin-bottom:20px;
  text-align:center;
}
.name{
  font-size:50px;
  font-weight:bold;
  color: rgb(2, 172, 2);
}
.lozung{
  font-size:20px;
  font-weight:bold;
  color: #333333;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
