form{
    text-align: left;
    width:95%;
}
p{
    text-align: left;
    color:white;
}
input[type="File"]{
    color:white;
}
input[type="file"]::-webkit-file-upload-button {
    background: transparent;
    color: white;
    border:1px solid rgb(73, 73, 73);
    border-radius:5px;
    padding:10px;
    transition:100ms;
}
input[type="file"]::-webkit-file-upload-button:hover {
    cursor: pointer;
    background: rgb(73, 73, 73);
}
input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit] {
    width: 120px;
    background: black;
    border: 0.5px solid #464646;
    height: 40px;
    margin-top: 40px;
    font-weight: bold;
    color: white;
    transition: 100ms;
}
input[type=submit]:hover {
    background: rgb(73, 73, 73);
    cursor: pointer;
}
table{
    color:white;
    margin:auto;
}
td{
    width:150px;
    height:50px;
    text-overflow: ellipsis;
}
.head{
    font-weight: bold;
}
a{
    color: rgb(2, 172, 2);
}
.NewPostBtn{
    border:1px solid rgb(2, 172, 2);
    color: rgb(2, 172, 2);
    transition:100ms;
}
.NewPostBtn:hover{
    background: rgb(2, 172, 2);
    color:white;
}
select {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.orderlabel{
    padding:2px;
    padding-left:5px;
    padding-right:5px;
    color:white;
    background: #333333;
    position:relative;
    width:50px;
    left:80px;
    top:30px;
}
.orderbox{
    width:auto;
    height:auto;
    margin:20px;
    margin-left:50px;
    margin-right:50px;
    padding:20px;
    border:1px solid white;
}
.orderPrice{
    width:auto;
    color:white;
    text-align:right;
}